#container {
    min-width: 100%;
    min-height: 100%;
}

body {
    background-color: #fff6f2;
}

.title {
    color: #e3251f;
    margin: auto;
}

.bull {
    color: #240000;
    margin: auto;
}

#installBtn {
    background-color: #e3251f;
    color: #fff6f2;
    margin: auto;
    border-radius: 10%;
}